<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pay Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function responseCallBack(e){ 
        if(e.data.message== "success"){
            console.log("Success payment", e.data )
        }else if(e.data.message == "failure"){
            console.log("Failure payment", e.data )
        }else{
            //console.log("Other Actions", e.data )
        }
      }
           if (window.addEventListener) {
             addEventListener("message", responseCallBack, false)
         } else {
             attachEvent("onmessage", responseCallBack)
         }
      </script>
    <style>
      .el-kashier-div-button {
        text-align: center;
      }
      .el-kashier-head {
        margin: auto;
        margin-top: 20%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        display: flex;
        text-align: center;
      }
      .el-kashier-button {
        margin: auto;
        margin-top: 1%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        display: flex;
        font-size: 55px !important;
        width: 352px;
        height: 65px;
        text-align: center;
      }
    </style>
  </head>
  <body>


<div style="margin: auto">
  <h2 class="el-kashier-head">
    Please complete order Payment
  </h2>
  <script id="kashier-iFrame"
          src="<%= order.baseUrl%>/js/kashier-checkout.js"
          data-amount="<%=order.amount%>"
          data-description="description"
          data-hash="<%=order.hash%>"
          data-currency="<%=order.currency%>"
          data-orderId="<%=order.merchantOrderId%>"
          data-merchantId="<%=order.mid%>"
          data-merchantRedirect="<%=process.env.baseURL%>callback"
          data-store = "essam"
          data-type = "external" data-display="en" >

  </script>
</div>
</body>

</html>
